body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.btncadastro {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    }
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.btncadastro {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
} 


h2 {
    margin-bottom: 20px;

}
.btncadastro2 {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(6, 182, 0);
    color: #000000;
    color: #000000;
}
    
