.container {
width: 100%;
max-width: 400px;
justify-content: center;
align-items: center;
margin-left: 700px;
margin-top: 200px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn{
    border-radius: 5px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    margin-top: 100px;
    width: 100%;
    max-width: 400px;

}
.ttl{
    margin-left: 200px;
    margin-top: 50px;
    color: #6683E2;
}
.ttl2{
   margin-left: 200px;
    margin-top: 20px;
    color: #6683E2; 
}