* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Segoe UI", Arial, sans-serif;
}

body {
background: #f4f6fa;
}


.small-text {
font-size: 12px;
color: #8a8f9c;
letter-spacing: 0.5px;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
margin: 25px 0 40px;
}

.left {
display: flex;
align-items: center;
gap: 10px;
}

.left h2 {
font-size: 24px;
font-weight: 600;
color: #1c1f2a;
}

.right {
display: flex;
align-items: center;
gap: 8px;
color: #5b6d8c;
}

.right h2 {
font-size: 22px;
font-weight: 600;
letter-spacing: 1px;
}

.buttons {
display: flex;
justify-content: space-between;
gap: 30px;
margin: 30px 0 40px;
}

.buttons button {
flex: 1;
height: 55px;
border: none;
border-radius: 12px;
font-size: 16px;
color: white;
cursor: pointer;
background: linear-gradient(90deg, #6aa6ff, #4f8cff);
box-shadow: 0 6px 15px rgba(79, 140, 255, 0.3);
transition: 0.25s;
}

.buttons button:hover {
transform: translateY(-2px);
box-shadow: 0 8px 18px rgba(79, 140, 255, 0.4);
}


.divider {
height: 1px;
background: #d9dde5;
margin: 35px 0;
}


.delivery-section h3 {
font-size: 18px;
color: #2c2f38;
letter-spacing: 1px;
text-align: center;
}
body {
font-family: Arial, sans-serif;
background-color: #ffffff;
margin: 40px;
}

.container {
width: 800px;
}

h2 {
font-size: 18px;
font-weight: bold;
margin-bottom: 20px;
letter-spacing: 1px;
}

.tabela {
display: flex;
flex-direction: column;
gap: 15px;
}

.linha {
display: grid;
grid-template-columns: 200px 1fr 100px 250px;
font-size: 14px;
color: #333;
}