* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 30px;
  background: #ffffff;
  color: #222;
}

/* Topo */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.topo h1 {
  font-size: 22px;
  letter-spacing: 1px;
}

.logo {
  font-weight: bold;
  color: #6aa3ff;
}

/* Grid de cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

/* Card */
.card {
  border: 2px solid #cfd8e3;
  border-radius: 16px;
  padding: 25px 20px;
  text-align: center;
  background: #fff;
}

.card h2 {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
}

.label {
  font-size: 12px;
  color: #555;
  margin-bottom: 8px;
}

.status {
  font-size: 14px;
  font-weight: bold;
}

/* Cores de status */
.completa {
  color: #e53935; /* vermelho */
}

.parcial {
  color: #fb8c00; /* laranja */
}

.livre {
  color: #43a047; /* verde */
}

.btn{
  width: 50px;
  height: 30px;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
}
