
.container {
width: 100%;
max-width: 400px;
justify-content: center;
align-items: center;
margin-left: 700px;
margin-top: 200px;
}



.logo {
margin-bottom: 20px;
font-weight: bold;
color: #333;
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
}


.logo-text {
 position: fixed;
top: 10px; 
    right: 10px;
z-index: 1000;
color: #003af8;
}
h2 {
font-size: 18px;
color: #003af8;
margin-bottom: 5px;
text-align: center;
}

h3 {
margin-bottom: 25px;
color: #333;
text-align: center;
}

.input-group {
text-align: left;
margin-bottom: 15px;
}

.input-group label {
display: block;
font-size: 14px;
margin-bottom: 5px;
color: #555;
}

.input-group input {
width: 100%;
padding: 10px;
border-radius: 6px;
border: 1px solid #ccc;
font-size: 14px;
}

.input-group input:focus {
border-color: #003af8;
outline: none;
}

.forgot {
display: block;
text-align: right;
font-size: 13px;
color: #003af8;
text-decoration: none;
margin-bottom: 20px;
}

.forgot:hover {
text-decoration: underline;
}

.btn {
width: 100%;
padding: 12px;
background: #00ff88;
border: none;
color: rgb(0, 0, 0);
font-weight: bold;
border-radius: 6px;
cursor: pointer;
transition: 0.3s;
}

.btn:hover {
background: #003af8;
}

.btncadastro {
   width: 35%;
padding: 10px;
background: #25D366;
color: white;
font-weight: bold;
border-radius: 6px;  
}

