


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.btncadastro {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    color: #ffffff;
}
